[submodule "graphical_template"]
	path = graphical_template
	url = https://github.com/huiwen911/graphical_template.git
[submodule "Graphical_template"]
	path = Graphical_template
	url = https://github.com/huiwen911/graphical_template.git
