torch
numpy
scipy
pandas
scikit-learn
xgboost
lightgbm
catboost
tensorflow
torchvision
keras
shap
lime
transformers
sentence-transformers
# auto-gptq
openai
langchain
llama-index
llama-cpp-python
tokenizers
scikit-bio
opencv-python
lifelines
scikit-survival
SQLAlchemy
confluent-kafka
pyyaml
matplotlib
seaborn
plotly
tqdm
jupyterlab
